In [269]:
import pandas as pd

In [270]:
df=pd.read_excel("C:/Users/chispand/Downloads/Booking_Forecast.xlsx",na_filter = False)

In [271]:
df

,project_name,practice,slt_owner,practice_owner,quarter,sales_stage,project_type,region,country,win_prob,status,currency,deal_value,deal_value_eur,last_updated_by,updated_date_time
0,Security Bank MS extension,R&F,Shailesh Rao,Mahesh Haridasan,Q1,6. Won,FP,APAC,PH,1.00,Won,EUR,525000.0,525000.0,DB,2022-12-06 12:18:00.000
1,SBC -Ofsaa Revamp,R&F,Shailesh Rao,Sreerag Raveendran,Q1,3. Proposal Submitted,FP,APAC,PH,0.50,Commit,EUR,450000.0,450000.0,DB,2022-12-07 12:17:59.995
2,SBC -OFSaa upgrade,R&F,Shailesh Rao,Sreerag Raveendran,Q1,3. Proposal Submitted,FP,APAC,PH,0.30,Pipeline,EUR,200000.0,200000.0,DB,2022-12-08 12:17:59.995
3,MA- OCBC - ALM IRRBB BA,R&F,Shailesh Rao,Ashutosh Agrawal,Q2,2.Customer Discussion,T&M,APAC,SG,0.25,Pipeline,EUR,211680.0,211680.0,DB,2022-12-09 12:17:59.995
4,MA-COE,R&F,Shailesh Rao,Ashutosh Agrawal,Q2,2.Customer Discussion,T&M,APAC,SG,0.25,Pipeline,EUR,453600.0,453600.0,DB,2022-12-10 12:17:59.995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,SCB Axiom,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,TM,SG,SG,0.20,Pipeline,EUR,1035248.0,1035248.0,DB,2023-01-03 12:17:59.995
71,SCB Basel Computation Data Lineage,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,TM,SG,SG,0.40,Commit,EUR,114746.0,114746.0,DB,2023-01-04 12:17:59.995
72,BDO Reg reporting,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,FP,PH,PH,0.40,Commit,EUR,355290.0,355290.0,DB,2023-01-05 12:17:59.995
73,"BOQ, Westpac [APRA reporting, IFRS9 reporting ...",R&F,Deepak Satyaprasad,Deepak Satyaprasad,Q1,1. Initiation stage,TM,AU / NZ,AU,0.30,Pipeline,EUR,250000.0,250000.0,DB,2023-01-06 12:17:59.995
74,SBC FTP Implementation,R&F,Shailesh Rao,Sreerag Raveendran,Q3,1. Initiation stage,FP,PH,PH,0.20,Pipeline,EUR,600000.0,600000.0,DB,2023-01-07 12:17:59.995

In [272]:
df['win_prob']=df.loc[:,'win_prob']*100

In [273]:
df

,project_name,practice,slt_owner,practice_owner,quarter,sales_stage,project_type,region,country,win_prob,status,currency,deal_value,deal_value_eur,last_updated_by,updated_date_time
0,Security Bank MS extension,R&F,Shailesh Rao,Mahesh Haridasan,Q1,6. Won,FP,APAC,PH,100.0,Won,EUR,525000.0,525000.0,DB,2022-12-06 12:18:00.000
1,SBC -Ofsaa Revamp,R&F,Shailesh Rao,Sreerag Raveendran,Q1,3. Proposal Submitted,FP,APAC,PH,50.0,Commit,EUR,450000.0,450000.0,DB,2022-12-07 12:17:59.995
2,SBC -OFSaa upgrade,R&F,Shailesh Rao,Sreerag Raveendran,Q1,3. Proposal Submitted,FP,APAC,PH,30.0,Pipeline,EUR,200000.0,200000.0,DB,2022-12-08 12:17:59.995
3,MA- OCBC - ALM IRRBB BA,R&F,Shailesh Rao,Ashutosh Agrawal,Q2,2.Customer Discussion,T&M,APAC,SG,25.0,Pipeline,EUR,211680.0,211680.0,DB,2022-12-09 12:17:59.995
4,MA-COE,R&F,Shailesh Rao,Ashutosh Agrawal,Q2,2.Customer Discussion,T&M,APAC,SG,25.0,Pipeline,EUR,453600.0,453600.0,DB,2022-12-10 12:17:59.995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,SCB Axiom,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,TM,SG,SG,20.0,Pipeline,EUR,1035248.0,1035248.0,DB,2023-01-03 12:17:59.995
71,SCB Basel Computation Data Lineage,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,TM,SG,SG,40.0,Commit,EUR,114746.0,114746.0,DB,2023-01-04 12:17:59.995
72,BDO Reg reporting,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,FP,PH,PH,40.0,Commit,EUR,355290.0,355290.0,DB,2023-01-05 12:17:59.995
73,"BOQ, Westpac [APRA reporting, IFRS9 reporting ...",R&F,Deepak Satyaprasad,Deepak Satyaprasad,Q1,1. Initiation stage,TM,AU / NZ,AU,30.0,Pipeline,EUR,250000.0,250000.0,DB,2023-01-06 12:17:59.995
74,SBC FTP Implementation,R&F,Shailesh Rao,Sreerag Raveendran,Q3,1. Initiation stage,FP,PH,PH,20.0,Pipeline,EUR,600000.0,600000.0,DB,2023-01-07 12:17:59.995

In [274]:
pd.isnull(df['region'])

0     False
1     False
2     False
3     False
4     False
      ...
70    False
71    False
72    False
73    False
74    False
Name: region, Length: 75, dtype: bool

In [275]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)

In [276]:
dir(engine.engine)

['__annotations__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_compiled_cache',
 '_connection_cls',
 '_echo',
 '_execution_options',
 '_has_events',
 '_is_future',
 '_is_protocol',
 '_lru_size_alert',
 '_option_cls',
 '_optional_conn_ctx_manager',
 '_run_ddl_visitor',
 '_schema_translate_map',
 '_should_log_debug',
 '_should_log_info',
 '_sqla_logger_namespace',
 'begin',
 'clear_compiled_cache',
 'connect',
 'dialect',
 'dispatch',
 'dispose',
 'driver',
 'echo',
 'engine',
 'execution_options',
 'get_execution_options',
 'hide_parameters',
 'logger',
 'logging_name',
 'name',
 'pool',
 'raw_connection',
 'update_execution_options',
 'url']

In [277]:
df=df.drop_duplicates(subset='project_name', keep="first")

In [278]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)
df.to_sql('booking_forecast', con=engine,if_exists='append',index=False)

75

In [279]:
conn=engine.connect()
conn.invalidate()

engine.dispose()

In [280]:

# from datetime import datetime, timedelta
# public_holidays_df = pd.read_csv(
#     "C:/Users/dhsunder/Downloads/extract/A/public hoildays/au.csv"
# )
# hoildays_list_ = public_holidays_df["Date"].apply(lambda x: datetime.strptime(x, "%d-%b-%y").date())

In [281]:
commit_df=pd.read_excel("C:/Users/chispand/Downloads/Commit.xlsx",na_filter = False)
# apply(lambda x: datetime.strptime(x, "%d-%b-%y")

In [282]:
commit_df

,id,project_name,slt_owner,practice,quarter,project_manager,resource_name,resource_country,resource_level,onshore_offshore,...,eur_sep,eur_oct,eur_nov,eur_dec,total_revenue,total_cost,cm,resource_wise_cm_percet,last_updated_by,updated_date_time
0,1,SBC OFSAA Remediation,Sreerag Raveendran,R&F,Q1,Balaji Chetana,,IN,SM,Offshore,...,9795.66,0,0,0,58773.96,27720,31053.96,0.528363,DB,2023-01-06 12:18:00.000
1,2,SBC OFSAA Remediation,Sreerag Raveendran,R&F,Q1,Balaji Chetana,,IN,M,Offshore,...,7574.28,0,0,0,45445.68,20664,24781.68,0.545303,DB,2023-01-07 12:17:59.995
2,3,SBC OFSAA Remediation,Sreerag Raveendran,R&F,Q1,Balaji Chetana,,IN,M,Offshore,...,7574.28,0,0,0,45445.68,20664,24781.68,0.545303,DB,2023-01-08 12:17:59.995
3,4,SBC OFSAA Remediation,Sreerag Raveendran,R&F,Q1,Balaji Chetana,,IN,M,Offshore,...,7574.28,0,0,0,45445.68,20664,24781.68,0.545303,DB,2023-01-09 12:17:59.995
4,5,SBC OFSAA Remediation,Sreerag Raveendran,R&F,Q1,Balaji Chetana,,IN,M,Offshore,...,7321.86,0,0,0,43931.16,20664,23267.16,0.529628,DB,2023-01-10 12:17:59.995
5,6,SBC OFSAA Remediation,Sreerag Raveendran,R&F,Q1,Balaji Chetana,,IN,SC,Offshore,...,5638.08,0,0,0,33828.48,15456,18372.48,0.543107,DB,2023-01-11 12:17:59.995
6,7,SBC OFSAA Remediation,Sreerag Raveendran,R&F,Q1,Balaji Chetana,,IN,SC,Offshore,...,5638.08,0,0,0,33828.48,15456,18372.48,0.543107,DB,2023-01-12 12:17:59.995
7,8,SBC OFSAA Remediation,Sreerag Raveendran,R&F,Q1,Balaji Chetana,,IN,SC,Offshore,...,5638.08,0,0,0,33828.48,15456,18372.48,0.543107,DB,2023-01-13 12:17:59.995

In [283]:
# commit_df.loc[:,'start_date_commit'].apply(lambda x: datetime.strptime(x, "%d-%m-%Y"))

In [284]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)

In [285]:
type(engine)

sqlalchemy.engine.base.Engine

In [286]:
commit_df.to_sql('commit_table', con=engine,if_exists='append',index=False)

8

In [287]:
conn=engine.connect()
conn.invalidate()

engine.dispose()

In [288]:
wondeals_df=pd.read_excel("C:/Users/chispand/Downloads/Wondeals.xlsx",na_filter = False)
wondeals_df.rename(columns={'LI/LR ID':'li_lr_id'},inplace=True)

In [289]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)

In [290]:
wondeals_df.to_sql('wondeals_table', con=engine,if_exists='append',index=False)

143

In [291]:
conn=engine.connect()
conn.invalidate()

engine.dispose()

In [292]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)

In [293]:
conn=engine.connect()
conn.invalidate()

engine.dispose()

In [294]:
demand_df=pd.read_excel("C:/Users/chispand/Downloads/Demand.xlsx",na_filter = False)

In [295]:
demand_df['dsr_id']=demand_df['dsr_id'].astype(str)

In [296]:
demand_df['dsr_id'].unique()

array(['12288069', '12288070', '12288071', '12316649', '12316651',
       '12316655', '12316657', '12316658', '12316659', '12559656',
       '12625800', '12651555', '12771659', '12771662',
       ' req ID to be created', '12771663', '12771661', '12786557',
       '12786558', '12938871', '12769133', '12769134', '12789263',
       '12789265', '12769135', '12819384', '12819385', '12819386',
       '12819387', '12867686', '12900164', '12900165',
       'Req ID to be created'], dtype=object)

In [297]:
demand_df=demand_df.drop(['age','dor','Resource_name','Resource_emp_id','id'],axis=1)

In [298]:
demand_df['no_of_resumes']=demand_df['no_of_resumes'].astype(int)
for i in demand_df.columns:
    print(i,type(demand_df[i].iloc[1]))

project_name <class 'str'>
practice <class 'str'>
slt_owner <class 'str'>
owner <class 'str'>
dsr_id <class 'str'>
acc <class 'str'>
practice_owner <class 'str'>
hire_type <class 'str'>
new_hire <class 'str'>
rep_email <class 'str'>
skill <class 'str'>
head_count <class 'int'>
loc <class 'str'>
emp_grade <class 'str'>
res_status <class 'str'>
action_pending <class 'str'>
ext_int <class 'str'>
no_of_resumes <class 'numpy.int32'>
screen_selects <class 'numpy.int64'>

In [299]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)
demand_df.to_sql('Demand', con=engine,if_exists='append',index=False)

38

In [300]:
demand_df.to_sql('Demand', con=engine,if_exists='append',index=False)

38

In [301]:
interview_df=pd.read_excel("C:/Users/chispand/Downloads/Interview.xlsx")

In [302]:
# from datetime import datetime
# interview_df.loc[:,"r1_date"].apply(lambda x: type(x))
# interview_df["r1_date"].apply(lambda x: datetime.strptime(x, "%d-%m-%Y").date())
# interview_df["r2_date"]=interview_df["r2_date"].apply(lambda x: datetime.strptime(x, "%-m/%d/%Y").date()

In [303]:
interview_df.to_sql('Interview', con=engine,if_exists='append',index=False)

620

In [304]:
conn=engine.connect()
conn.invalidate()

engine.dispose()

In [305]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)

In [307]:
conn=engine.connect()
conn.invalidate()

engine.dispose()

In [308]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)

In [310]:
df_=pd.read_excel("C:/Users/chispand/Downloads/Booking_Forecast.xlsx",na_filter = False)

In [311]:
df_

,project_name,practice,slt_owner,practice_owner,quarter,sales_stage,project_type,region,country,win_prob,status,currency,deal_value,deal_value_eur,last_updated_by,updated_date_time
0,Security Bank MS extension,R&F,Shailesh Rao,Mahesh Haridasan,Q1,6. Won,FP,APAC,PH,1.00,Won,EUR,525000.0,525000.0,DB,2022-12-06 12:18:00.000
1,SBC -Ofsaa Revamp,R&F,Shailesh Rao,Sreerag Raveendran,Q1,3. Proposal Submitted,FP,APAC,PH,0.50,Commit,EUR,450000.0,450000.0,DB,2022-12-07 12:17:59.995
2,SBC -OFSaa upgrade,R&F,Shailesh Rao,Sreerag Raveendran,Q1,3. Proposal Submitted,FP,APAC,PH,0.30,Pipeline,EUR,200000.0,200000.0,DB,2022-12-08 12:17:59.995
3,MA- OCBC - ALM IRRBB BA,R&F,Shailesh Rao,Ashutosh Agrawal,Q2,2.Customer Discussion,T&M,APAC,SG,0.25,Pipeline,EUR,211680.0,211680.0,DB,2022-12-09 12:17:59.995
4,MA-COE,R&F,Shailesh Rao,Ashutosh Agrawal,Q2,2.Customer Discussion,T&M,APAC,SG,0.25,Pipeline,EUR,453600.0,453600.0,DB,2022-12-10 12:17:59.995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,SCB Axiom,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,TM,SG,SG,0.20,Pipeline,EUR,1035248.0,1035248.0,DB,2023-01-03 12:17:59.995
71,SCB Basel Computation Data Lineage,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,TM,SG,SG,0.40,Commit,EUR,114746.0,114746.0,DB,2023-01-04 12:17:59.995
72,BDO Reg reporting,R&F,Shailesh Rao,Shailesh Rao,,3. Proposal Submitted,FP,PH,PH,0.40,Commit,EUR,355290.0,355290.0,DB,2023-01-05 12:17:59.995
73,"BOQ, Westpac [APRA reporting, IFRS9 reporting ...",R&F,Deepak Satyaprasad,Deepak Satyaprasad,Q1,1. Initiation stage,TM,AU / NZ,AU,0.30,Pipeline,EUR,250000.0,250000.0,DB,2023-01-06 12:17:59.995
74,SBC FTP Implementation,R&F,Shailesh Rao,Sreerag Raveendran,Q3,1. Initiation stage,FP,PH,PH,0.20,Pipeline,EUR,600000.0,600000.0,DB,2023-01-07 12:17:59.995

In [312]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)

In [313]:
import numpy as np
new_=df_.pivot_table(index=['practice','sales_stage'],columns=['quarter'],values=['deal_value_eur'],aggfunc=np.sum)
# new_=df_.pivot_table(index=['practice','sales_stage'],columns=['quarter'],values=['deal_value_eur'],aggfunc=np.sum)

In [314]:
new_=new_.fillna(0)

In [315]:
new_

                                   deal_value_eur                           \
quarter                                                      Q1         Q2
practice   sales_stage
Compliance 1. Initiation stage                0.0  4.532536e+06  2750000.0
           2.Customer Discussion              0.0  1.827680e+06        0.0
           3. Proposal Submitted              0.0  3.450000e+04        0.0
R&F        1. Initiation stage                0.0  6.696810e+06        0.0
           2.Customer Discussion              0.0  2.966248e+06  1784664.0
           3. Proposal Submitted        1641364.0  1.650000e+06        0.0
           4. Contract Negotiation            0.0  7.852292e+05        0.0
           5. Won-Pending                     0.0  6.148800e+04        0.0
           6. Won                             0.0  5.250000e+05        0.0


quarter                                     Q3
practice   sales_stage
Compliance 1. Initiation stage            0.00
           2.Customer Discussion          0.00
           3. Proposal Submitted          0.00
R&F        1. Initiation stage      2509796.56
           2.Customer Discussion     800000.00
           3. Proposal Submitted          0.00
           4. Contract Negotiation        0.00
           5. Won-Pending                 0.00
           6. Won                         0.00

In [316]:
# if len(new_.columns)>1:
#     def func(x):
#         sum_row=0
#         for i in x:
#             sum_row+=i
#             print(i)
#             print(type(i))
#         print("new row")
#         print("sum row",sum(x))
#         print("sum_row",sum_row)

#         return sum_row

series_=new_.apply(lambda x: sum(x), axis=1).tolist()
# else:
#     series_col=[]
#     for col_name in new_.columns:
#         series_col.append(new_[col_name])
#     series_=series_col[0].tolist()
# series_=new_.apply(lambda x: sum(x)).tolist()
# series_=new_.apply(lambda x :func(x),axis=1).tolist()
series_
# interview_df.to_sql('Interview', con=engine,if_exists='append',index=False)

[7282535.999999999,
 1827680.0,
 34500.0,
 9206606.559999999,
 5550911.919999999,
 3291364.0,
 785229.202037351,
 61488.0,
 525000.0]

In [317]:
new_['total']=series_

In [318]:
new_

                                   deal_value_eur                           \
quarter                                                      Q1         Q2
practice   sales_stage
Compliance 1. Initiation stage                0.0  4.532536e+06  2750000.0
           2.Customer Discussion              0.0  1.827680e+06        0.0
           3. Proposal Submitted              0.0  3.450000e+04        0.0
R&F        1. Initiation stage                0.0  6.696810e+06        0.0
           2.Customer Discussion              0.0  2.966248e+06  1784664.0
           3. Proposal Submitted        1641364.0  1.650000e+06        0.0
           4. Contract Negotiation            0.0  7.852292e+05        0.0
           5. Won-Pending                     0.0  6.148800e+04        0.0
           6. Won                             0.0  5.250000e+05        0.0

                                                       total
quarter                                     Q3
practice   sales_stage
Compliance 1. Initiation stage            0.00  7.282536e+06
           2.Customer Discussion          0.00  1.827680e+06
           3. Proposal Submitted          0.00  3.450000e+04
R&F        1. Initiation stage      2509796.56  9.206607e+06
           2.Customer Discussion     800000.00  5.550912e+06
           3. Proposal Submitted          0.00  3.291364e+06
           4. Contract Negotiation        0.00  7.852292e+05
           5. Won-Pending                 0.00  6.148800e+04
           6. Won                         0.00  5.250000e+05

In [319]:
list_=[]
for col in new_:
    print(sum(new_[col]))
    list_.append(sum(new_[col]))

1641364.0
19079491.122037347
4534664.0
3309796.559999999
28565315.682037346

In [320]:
list_

[1641364.0,
 19079491.122037347,
 4534664.0,
 3309796.559999999,
 28565315.682037346]

In [321]:
new_.loc[('Grand Total',''),:]=list_

In [322]:
new_

                                    deal_value_eur                           \
quarter                                                       Q1         Q2
practice    sales_stage
Compliance  1. Initiation stage                0.0  4.532536e+06  2750000.0
            2.Customer Discussion              0.0  1.827680e+06        0.0
            3. Proposal Submitted              0.0  3.450000e+04        0.0
R&F         1. Initiation stage                0.0  6.696810e+06        0.0
            2.Customer Discussion              0.0  2.966248e+06  1784664.0
            3. Proposal Submitted        1641364.0  1.650000e+06        0.0
            4. Contract Negotiation            0.0  7.852292e+05        0.0
            5. Won-Pending                     0.0  6.148800e+04        0.0
            6. Won                             0.0  5.250000e+05        0.0
Grand Total                              1641364.0  1.907949e+07  4534664.0

                                                        total
quarter                                      Q3
practice    sales_stage
Compliance  1. Initiation stage            0.00  7.282536e+06
            2.Customer Discussion          0.00  1.827680e+06
            3. Proposal Submitted          0.00  3.450000e+04
R&F         1. Initiation stage      2509796.56  9.206607e+06
            2.Customer Discussion     800000.00  5.550912e+06
            3. Proposal Submitted          0.00  3.291364e+06
            4. Contract Negotiation        0.00  7.852292e+05
            5. Won-Pending                 0.00  6.148800e+04
            6. Won                         0.00  5.250000e+05
Grand Total                          3309796.56  2.856532e+07

In [323]:
new_.columns

MultiIndex([('deal_value_eur',   ''),
            ('deal_value_eur', 'Q1'),
            ('deal_value_eur', 'Q2'),
            ('deal_value_eur', 'Q3'),
            (         'total',   '')],
           names=[None, 'quarter'])

In [324]:
new_1=df_.pivot_table(index=['practice'],columns=['sales_stage'],values=['deal_value_eur'],aggfunc=np.sum)

In [325]:
new_1=new_1.fillna(0)

In [326]:
if len(new_1.columns)>1:
    def func(x):
        sum_row=0
        for i in x:
            sum_row+=i
            print(i)
            print(type(i))
        print("new row")
        print("sum row",sum(x))
        print("sum_row",sum_row)

        return sum_row

    series_1=new_1.apply(lambda x :func(x),axis=1).tolist()
else:
    series_col=[]
    for col_name in new_1.columns:
        series_1.append(new_1[col_name])
    series_1=series_col[0].tolist()

7282535.999999999
<class 'float'>
1827680.0
<class 'float'>
34500.0
<class 'float'>
0.0
<class 'float'>
0.0
<class 'float'>
0.0
<class 'float'>
new row
sum row 9144716.0
sum_row 9144716.0
9206606.559999999
<class 'float'>
5550911.919999999
<class 'float'>
3291364.0
<class 'float'>
785229.202037351
<class 'float'>
61488.0
<class 'float'>
525000.0
<class 'float'>
new row
sum row 19420599.682037346
sum_row 19420599.682037346

In [327]:
new_1['total']=series_1

In [328]:
new_1

                 deal_value_eur                                              \
sales_stage 1. Initiation stage 2.Customer Discussion 3. Proposal Submitted
practice
Compliance           7282536.00            1827680.00               34500.0
R&F                  9206606.56            5550911.92             3291364.0

                                                                     total
sales_stage 4. Contract Negotiation 5. Won-Pending    6. Won
practice
Compliance                 0.000000            0.0       0.0  9.144716e+06
R&F                   785229.202037        61488.0  525000.0  1.942060e+07

In [329]:
list_1=[]
for col in new_1:
    print(col)
    print(new_1[col])
    print(sum(new_1[col]))
    list_1.append(sum(new_1[col]))
    print("*"*100)

('deal_value_eur', '1. Initiation stage')
practice
Compliance    7282536.00
R&F           9206606.56
Name: (deal_value_eur, 1. Initiation stage), dtype: float64
16489142.559999999
****************************************************************************************************
('deal_value_eur', '2.Customer Discussion')
practice
Compliance    1827680.00
R&F           5550911.92
Name: (deal_value_eur, 2.Customer Discussion), dtype: float64
7378591.919999999
****************************************************************************************************
('deal_value_eur', '3. Proposal Submitted')
practice
Compliance      34500.0
R&F           3291364.0
Name: (deal_value_eur, 3. Proposal Submitted), dtype: float64
3325864.0
****************************************************************************************************
('deal_value_eur', '4. Contract Negotiation')
practice
Compliance         0.000000
R&F           785229.202037
Name: (deal_value_eur, 4. Contract Negotiation), dtype: float64
785229.202037351
****************************************************************************************************
('deal_value_eur', '5. Won-Pending')
practice
Compliance        0.0
R&F           61488.0
Name: (deal_value_eur, 5. Won-Pending), dtype: float64
61488.0
****************************************************************************************************
('deal_value_eur', '6. Won')
practice
Compliance         0.0
R&F           525000.0
Name: (deal_value_eur, 6. Won), dtype: float64
525000.0
****************************************************************************************************
('total', '')
practice
Compliance    9.144716e+06
R&F           1.942060e+07
Name: (total, ), dtype: float64
28565315.682037346
****************************************************************************************************

In [330]:
list_1

[16489142.559999999,
 7378591.919999999,
 3325864.0,
 785229.202037351,
 61488.0,
 525000.0,
 28565315.682037346]

In [331]:
new_1.loc[('Grand Total'),:]=list_1

In [332]:
new_1

                 deal_value_eur                                              \
sales_stage 1. Initiation stage 2.Customer Discussion 3. Proposal Submitted
practice
Compliance           7282536.00            1827680.00               34500.0
R&F                  9206606.56            5550911.92             3291364.0
Grand Total         16489142.56            7378591.92             3325864.0

                                                                     total
sales_stage 4. Contract Negotiation 5. Won-Pending    6. Won
practice
Compliance                 0.000000            0.0       0.0  9.144716e+06
R&F                   785229.202037        61488.0  525000.0  1.942060e+07
Grand Total           785229.202037        61488.0  525000.0  2.856532e+07

In [333]:
new_1.columns

MultiIndex([('deal_value_eur',     '1. Initiation stage'),
            ('deal_value_eur',   '2.Customer Discussion'),
            ('deal_value_eur',   '3. Proposal Submitted'),
            ('deal_value_eur', '4. Contract Negotiation'),
            ('deal_value_eur',          '5. Won-Pending'),
            ('deal_value_eur',                  '6. Won'),
            (         'total',                        '')],
           names=[None, 'sales_stage'])

In [334]:
new_2=df_.pivot_table(index=['practice'],columns=['status'],values=['deal_value_eur'],aggfunc=np.sum).fillna(0)

In [335]:
new_2=new_2.fillna(0)

In [336]:
new_2

           deal_value_eur
status             Commit     Pipeline       Won
practice
Compliance   0.000000e+00   9144716.00       0.0
R&F          1.861153e+06  17034446.48  525000.0

In [337]:
def func(x):
    sum_row=0
    for i in x:
        sum_row+=i
        print(i)
        print(type(i))
    print("new row")
    print("sum row",sum(x))
    print("sum_row",sum_row)

    return sum_row

series_2=new_2.apply(lambda x :func(x),axis=1).tolist()

0.0
<class 'float'>
9144716.0
<class 'float'>
0.0
<class 'float'>
new row
sum row 9144716.0
sum_row 9144716.0
1861153.202037351
<class 'float'>
17034446.479999997
<class 'float'>
525000.0
<class 'float'>
new row
sum row 19420599.682037346
sum_row 19420599.682037346

In [338]:
new_2['total']=series_2

In [339]:
list_2=[]
for col in new_2:
    list_2.append(sum(new_2[col]))

In [340]:
new_2.loc[('Grand Total'),:]=list_2

In [341]:
new_2

            deal_value_eur                                total
status              Commit     Pipeline       Won
practice
Compliance    0.000000e+00   9144716.00       0.0  9.144716e+06
R&F           1.861153e+06  17034446.48  525000.0  1.942060e+07
Grand Total   1.861153e+06  26179162.48  525000.0  2.856532e+07

In [342]:
new_2.columns.values.tolist()

[('deal_value_eur', 'Commit'),
 ('deal_value_eur', 'Pipeline'),
 ('deal_value_eur', 'Won'),
 ('total', '')]

In [343]:
new_1[('deal_value_eur',     '1. Initiation stage')]=new_1[('deal_value_eur',     '1. Initiation stage')].apply(
                lambda x: "â‚¬{:,.2f}".format(x)
            )

In [344]:
new_1

                 deal_value_eur                                              \
sales_stage 1. Initiation stage 2.Customer Discussion 3. Proposal Submitted
practice
Compliance        â‚¬7,282,536.00            1827680.00               34500.0
R&F               â‚¬9,206,606.56            5550911.92             3291364.0
Grand Total      â‚¬16,489,142.56            7378591.92             3325864.0

                                                                     total
sales_stage 4. Contract Negotiation 5. Won-Pending    6. Won
practice
Compliance                 0.000000            0.0       0.0  9.144716e+06
R&F                   785229.202037        61488.0  525000.0  1.942060e+07
Grand Total           785229.202037        61488.0  525000.0  2.856532e+07

In [345]:
!pip install sqlalchemy_schemadisplay

Requirement already satisfied: sqlalchemy_schemadisplay in c:\users\chispand\anaconda\lib\site-packages (1.3)
Requirement already satisfied: setuptools in c:\users\chispand\anaconda\lib\site-packages (from sqlalchemy_schemadisplay) (63.4.1)
Requirement already satisfied: pydot in c:\users\chispand\anaconda\lib\site-packages (from sqlalchemy_schemadisplay) (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in c:\users\chispand\anaconda\lib\site-packages (from pydot->sqlalchemy_schemadisplay) (3.0.9)

In [346]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)

In [348]:
adrc_dict = {
        "IN": {
            "SA": 21,
            "SE": 25,
            "SSE": 30,
            "AC": 43,
            "C": 62,
            "SC": 92,
            "M": 123,
            "SM": 165,
            "PM": 219,
            "D": 256,
            "SD": 298,
            "VP": 569,
            "EVP": 569,
        },
        "US": {
            "SA": 225,
            "SE": 293,
            "SSE": 293,
            "AC": 327,
            "C": 429,
            "SC": 535,
            "M": 603,
            "SM": 713,
            "PM": 815,
            "D": 925,
            "SD": 1265,
            "VP": 2267,
            "EVP": 2267,
        },
        "NA_US_LTT/STT": {
            "SA": 225,
            "SE": 293,
            "SSE": 293,
            "AC": 365,
            "C": 390,
            "SC": 424,
            "M": 475,
            "SM": 560,
            "PM": 637,
            "D": 739,
            "SD": 908,
            "VP": 2267,
            "EVP": 2267,
        },
        "NA_US_NEW_STT/I_gate_landed ": {
            "SA": 225,
            "SE": 293,
            "SSE": 293,
            "AC": 365,
            "C": 390,
            "SC": 424,
            "M": 475,
            "SM": 560,
            "PM": 637,
            "D": 739,
            "SD": 908,
            "VP": 2267,
            "EVP": 2267,
        },
        "NA_CA_Local": {
            "SA": 230,
            "SE": 236,
            "SSE": 243,
            "AC": 257,
            "C": 277,
            "SC": 331,
            "M": 385,
            "SM": 473,
            "PM": 615,
            "D": 730,
            "SD": 885,
            "VP": 1399,
            "EVP": 1399,
        },
        "NA_CA_Landed": {
            "SA": 230,
            "SE": 236,
            "SSE": 243,
            "AC": 284,
            "C": 297,
            "SC": 318,
            "M": 351,
            "SM": 392,
            "PM": 439,
            "D": 527,
            "SD": 824,
            "VP": 1399,
            "EVP": 1399,
        },
        "UK_GB": {
            "SA": 216,
            "SE": 216,
            "SSE": 216,
            "AC": 234,
            "C": 275,
            "SC": 378,
            "M": 505,
            "SM": 640,
            "PM": 743,
            "D": 865,
            "SD": 1106,
            "VP": 2018,
            "EVP": 2018,
        },
        "UK_GB_LTT/STT": {
            "SA": 216,
            "SE": 216,
            "SSE": 239,
            "AC": 281,
            "C": 289,
            "SC": 303,
            "M": 356,
            "SM": 419,
            "PM": 498,
            "D": 654,
            "SD": 823,
            "VP": 2018,
            "EVP": 2018,
        },
        "UK_Nearshore": {
            "SA": 216,
            "SE": 216,
            "SSE": 216,
            "AC": 234,
            "C": 275,
            "SC": 378,
            "M": 505,
            "SM": 640,
            "PM": 743,
            "D": 865,
            "SD": 1106,
            "VP": 2018,
            "EVP": 2018,
        },
        "UK_ZA": {
            "SA": 100,
            "SE": 108,
            "SSE": 109,
            "AC": 110,
            "C": 119,
            "SC": 169,
            "M": 207,
            "SM": 368,
            "PM": 663,
            "D": 447,
            "SD": 447,
            "VP": 553,
            "EVP": 553,
        },
        "HK": {
            "SA": 103,
            "SE": 103,
            "SSE": 103,
            "AC": 166,
            "C": 230,
            "SC": 297,
            "M": 370,
            "SM": 444,
            "PM": 578,
            "D": 638,
            "SD": 867,
            "VP": 987,
            "EVP": 987,
        },
        "SG": {
            "SA": 157,
            "SE": 157,
            "SSE": 170,
            "AC": 195,
            "C": 245,
            "SC": 302,
            "M": 346,
            "SM": 440,
            "PM": 491,
            "D": 623,
            "SD": 868,
            "VP": 1591,
            "EVP": 1591,
        },
        "AE": {
            "SA": 165,
            "SE": 165,
            "SSE": 177,
            "AC": 216,
            "C": 258,
            "SC": 316,
            "M": 381,
            "SM": 486,
            "PM": 488,
            "D": 598,
            "SD": 786,
            "VP": 1656,
            "EVP": 1656,
        },
        "MY": {
            "SA": 64,
            "SE": 64,
            "SSE": 64,
            "AC": 86,
            "C": 129,
            "SC": 166,
            "M": 201,
            "SM": 261,
            "PM": 390,
            "D": 462,
            "SD": 472,
            "VP": 483,
            "EVP": 483,
        },
        "TW": {
            "SA": 78,
            "SE": 78,
            "SSE": 78,
            "AC": 121,
            "C": 156,
            "SC": 217,
            "M": 217,
            "SM": 333,
            "PM": 350,
            "D": 355,
            "SD": 385,
            "VP": 409,
            "EVP": 409,
        },
        "SA": {
            "SA": 203,
            "SE": 203,
            "SSE": 241,
            "AC": 292,
            "C": 390,
            "SC": 408,
            "M": 565,
            "SM": 667,
            "PM": 1014,
            "D": 1014,
            "SD": 1100,
            "VP": 1683,
            "EVP": 1683,
        },
        "CH": {
            "SA": 67,
            "SE": 79,
            "SSE": 90,
            "AC": 111,
            "C": 147,
            "SC": 208,
            "M": 300,
            "SM": 343,
            "PM": 419,
            "D": 431,
            "SD": 431,
            "VP": 733,
            "EVP": 733,
        },
        "PH": {
            "SA": 41,
            "SE": 47,
            "SSE": 52,
            "AC": 66,
            "C": 88,
            "SC": 133,
            "M": 188,
            "SM": 221,
            "PM": 307,
            "D": 455,
            "SD": 455,
            "VP": 511,
            "EVP": 511,
        },
    }

In [349]:
import pandas as pd
resource_df=pd.read_excel("C:/Users/chispand/Downloads/resource_master.xlsx",sheet_name='Base Data')
cols=resource_df.columns

In [350]:
di={'LI/LR ID': 'li_lr_id',
 'Region': 'region',
 'First Name': 'first_name',
 'Middle Name': 'middle_name',
 'Last Name': 'last_name',
 'NT Login ID': 'nt_login_id',
 'Global Date of Joining': 'global_date_joining',
 'Local Date of Joining': 'local_date_joining',
 'Email ID': 'email_id',
 'Sub_Practice': 'sub_practice',
 'Organization': 'organization',
 'Designation': 'designation',
 'Base Location': 'base_location',
 'Local Grade': 'local_grade',
 'People Manager Name': 'people_manager_name',
 'Account Name': 'account_name',
 'Project Number': 'project_number',
 'Project Start Date': 'project_start_date',
 'Project Roll-off Date': 'project_rolloff_date',
 'Billability': 'billability',
 'Last Project Code': 'last_project_code'}

In [351]:
resource_df.rename(columns=di,inplace=True)

In [352]:
resource_df

,li_lr_id,region,first_name,middle_name,last_name,nt_login_id,global_date_joining,local_date_joining,email_id,sub_practice,...,designation,base_location,local_grade,people_manager_name,account_name,project_number,project_start_date,project_rolloff_date,billability,last_project_code
0,81754_FS,IN,Padma,NaN,Koukutla,PKOUKUTL,2011-11-14,2021-03-30,padma.koukutla@capgemini.com,GP-TRN-R&F,...,Senior Manager,Hyderabad - SEZ - Phoenix Infocity - 5 flr to 6th,D1,Sudeesh Pillai,MUFG Union Bank NA,100744812,2022-12-19 00:00:00,2024-03-29 00:00:00,Billable,100868325
1,82750_FS,IN,Ankita,NaN,Agrawal,ANKITAAG,2014-04-03,2017-01-01,ankita.agrawal@capgemini.com,GP-TRN-R&F,...,Senior Consultant,Bangalore - SEZ - Divyasree - Incubation II,C1,Sampathkumar Gudihatti,National Australia Bank,100911023,2022-07-21 00:00:00,2023-09-30 00:00:00,Billable,100789819
2,84107_FS,IN,Sampathkumar,NaN,Gudihatti,SGUDIHAT,2015-07-23,2017-01-01,sampath.gudihatti@capgemini.com,GP-TRN-R&F,...,Senior Manager,Bangalore - SEZ - Divyasree - Incubation II,D1,Shailesh Panduranga Rao,SECURITY BANK Corporation,100722067,2022-08-29 00:00:00,2024-07-26 00:00:00,Billable,100777143
3,013799,IN,Javed,Alim,Khan,JAVEKHAN,2007-11-26,2020-01-27,javed.a.khan@capgemini.com,GP-TRN-R&F,...,Manager,Mumbai - SEZ - Airoli - Gigaplex II,C2,Ashutosh Agrawal,MOODYS ANALYTICS Pte Ltd,100684606,2022-01-03 00:00:00,2023-03-31 00:00:00,Billable,100684606
4,169590,IN,Mandeep,Kaur,Nagpal,MANNAGPA,2004-01-02,2022-11-14,mandeep.nagpal@capgemini.com,GP-TRN-CMP,...,Portfolio Manager,Delhi - STPI Ã¢â‚¬â€œ Neelkanth Sant Nagar,D2,Manisha Chachra,HSBC SOFTWARE DEVELOPMENT (INDIA) PRIVATE LTD.,100796118,2022-03-02 00:00:00,2023-12-31 00:00:00,I,INB610341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,50557110,CA,Richa,NaN,Raghav,RIRAGHAV,2022-09-12,2022-09-12,richa.raghav@capgemini.com,GP-TRN-R&F,...,Senior Consultant,MISSISSAUGA-TECH ON,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100927084,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783094
173,50558858,CA,Ankita,Vinod,Jain,AJAIN93,2022-09-26,2022-09-26,ankita.b.jain@capgemini.com,GP-TRN-R&F,...,Senior Consultant,81 Bay Street Toronto Ontario,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100925911,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783158
174,50567763,MY,Varun,NaN,Jois,VAJOIS,2019-12-30,2022-09-15,varun.jois@capgemini.com,GP-TRN-CMP,...,Senior Consultant,Jalan Tun RazakKuala Lumpur,C1,MAHESH HARIDASAN,MAYBANK SHARED SERVICES SDN BHD,100892336,2022-05-17 00:00:00,2023-05-26 00:00:00,Billable,100780327
175,50568257,CA,Prawin,NaN,Pradhan,PRAWPRAD,2022-11-21,2022-11-21,prawin.pradhan@capgemini.com,GP-TRN-R&F,...,Senior Consultant,MISSISSAUGA-TECH ON,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100935807,2022-11-21 00:00:00,2023-02-28 00:00:00,Billable,NaN
176,NaN,NaN,,NaN,NaN,NaN,NaT,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [353]:
(resource_df['designation']=='ZZ').sum()

3

In [354]:
resource_df=resource_df.dropna(subset=['designation'])

In [355]:
reg,des=list(resource_df['region']),list(resource_df['designation'])

In [356]:
set(des)

{'Associate Consultant',
 'Consultant',
 'Director',
 'Manager',
 'Portfolio Manager',
 'Senior Consultant',
 'Senior Director',
 'Senior Manager',
 'Senior Software Engineer',
 'Software Engineer',
 'ZZ'}

In [357]:
di_1={'Associate Consultant':'AC',
 'Consultant':'C',
 'Director':'D',
 'Manager':'M',
 'Portfolio Manager':'PM',
 'Senior Consultant':'SC',
 'Senior Director':'SD',
 'Senior Manager':'SM',
 'Senior Software Engineer':'SSE',
 'Software Engineer':'SE'}

In [358]:
temp=[]
for i in di_1.keys():
    temp.append((i,i))
temp

[('Associate Consultant', 'Associate Consultant'),
 ('Consultant', 'Consultant'),
 ('Director', 'Director'),
 ('Manager', 'Manager'),
 ('Portfolio Manager', 'Portfolio Manager'),
 ('Senior Consultant', 'Senior Consultant'),
 ('Senior Director', 'Senior Director'),
 ('Senior Manager', 'Senior Manager'),
 ('Senior Software Engineer', 'Senior Software Engineer'),
 ('Software Engineer', 'Software Engineer')]

In [359]:
adrc_final=[]

In [360]:
reg=resource_df['region']

In [361]:
set(list(reg))

{'CA', 'GB', 'IN', 'MY', 'PH', 'SG', 'TW', 'US'}

In [362]:
set(adrc_dict)

{'AE',
 'CH',
 'HK',
 'IN',
 'MY',
 'NA_CA_Landed',
 'NA_CA_Local',
 'NA_US_LTT/STT',
 'NA_US_NEW_STT/I_gate_landed ',
 'PH',
 'SA',
 'SG',
 'TW',
 'UK_GB',
 'UK_GB_LTT/STT',
 'UK_Nearshore',
 'UK_ZA',
 'US'}

In [363]:
resource_df.loc[resource_df['nt_login_id']=='JWADIA','region']='NA_CA_Landed'

In [364]:
resource_df.loc[resource_df['nt_login_id']=='KRAMDAS','region']='NA_CA_Landed'
resource_df.loc[resource_df['region']=='CA','region']='NA_CA_Local'

In [365]:
resource_df.loc[resource_df['region']=='CA','region']='NA_CA_Local'

In [366]:
resource_df.loc[resource_df['nt_login_id']=='VIKATIWA','region']='UK_GB_LTT/STT'

In [367]:
resource_df.loc[resource_df['region']=='GB','region']='UK_GB'

In [368]:
resource_df.loc[resource_df['nt_login_id']=='ANIYER','region']='NA_US_LTT/STT'
resource_df.loc[resource_df['nt_login_id']=='SRERAVEE','region']='NA_US_LTT/STT'

In [369]:
resource_df

,li_lr_id,region,first_name,middle_name,last_name,nt_login_id,global_date_joining,local_date_joining,email_id,sub_practice,...,designation,base_location,local_grade,people_manager_name,account_name,project_number,project_start_date,project_rolloff_date,billability,last_project_code
0,81754_FS,IN,Padma,NaN,Koukutla,PKOUKUTL,2011-11-14,2021-03-30,padma.koukutla@capgemini.com,GP-TRN-R&F,...,Senior Manager,Hyderabad - SEZ - Phoenix Infocity - 5 flr to 6th,D1,Sudeesh Pillai,MUFG Union Bank NA,100744812,2022-12-19 00:00:00,2024-03-29 00:00:00,Billable,100868325
1,82750_FS,IN,Ankita,NaN,Agrawal,ANKITAAG,2014-04-03,2017-01-01,ankita.agrawal@capgemini.com,GP-TRN-R&F,...,Senior Consultant,Bangalore - SEZ - Divyasree - Incubation II,C1,Sampathkumar Gudihatti,National Australia Bank,100911023,2022-07-21 00:00:00,2023-09-30 00:00:00,Billable,100789819
2,84107_FS,IN,Sampathkumar,NaN,Gudihatti,SGUDIHAT,2015-07-23,2017-01-01,sampath.gudihatti@capgemini.com,GP-TRN-R&F,...,Senior Manager,Bangalore - SEZ - Divyasree - Incubation II,D1,Shailesh Panduranga Rao,SECURITY BANK Corporation,100722067,2022-08-29 00:00:00,2024-07-26 00:00:00,Billable,100777143
3,013799,IN,Javed,Alim,Khan,JAVEKHAN,2007-11-26,2020-01-27,javed.a.khan@capgemini.com,GP-TRN-R&F,...,Manager,Mumbai - SEZ - Airoli - Gigaplex II,C2,Ashutosh Agrawal,MOODYS ANALYTICS Pte Ltd,100684606,2022-01-03 00:00:00,2023-03-31 00:00:00,Billable,100684606
4,169590,IN,Mandeep,Kaur,Nagpal,MANNAGPA,2004-01-02,2022-11-14,mandeep.nagpal@capgemini.com,GP-TRN-CMP,...,Portfolio Manager,Delhi - STPI Ã¢â‚¬â€œ Neelkanth Sant Nagar,D2,Manisha Chachra,HSBC SOFTWARE DEVELOPMENT (INDIA) PRIVATE LTD.,100796118,2022-03-02 00:00:00,2023-12-31 00:00:00,I,INB610341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,50552053,NA_CA_Local,Lingjie,NaN,Wang,LINGJWAN,2022-09-06,2022-09-06,lingjie.wang@capgemini.com,GP-TRN-R&F,...,Manager,MISSISSAUGA-TECH ON,C2,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100925911,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783158
172,50557110,NA_CA_Local,Richa,NaN,Raghav,RIRAGHAV,2022-09-12,2022-09-12,richa.raghav@capgemini.com,GP-TRN-R&F,...,Senior Consultant,MISSISSAUGA-TECH ON,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100927084,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783094
173,50558858,NA_CA_Local,Ankita,Vinod,Jain,AJAIN93,2022-09-26,2022-09-26,ankita.b.jain@capgemini.com,GP-TRN-R&F,...,Senior Consultant,81 Bay Street Toronto Ontario,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100925911,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783158
174,50567763,MY,Varun,NaN,Jois,VAJOIS,2019-12-30,2022-09-15,varun.jois@capgemini.com,GP-TRN-CMP,...,Senior Consultant,Jalan Tun RazakKuala Lumpur,C1,MAHESH HARIDASAN,MAYBANK SHARED SERVICES SDN BHD,100892336,2022-05-17 00:00:00,2023-05-26 00:00:00,Billable,100780327
175,50568257,NA_CA_Local,Prawin,NaN,Pradhan,PRAWPRAD,2022-11-21,2022-11-21,prawin.pradhan@capgemini.com,GP-TRN-R&F,...,Senior Consultant,MISSISSAUGA-TECH ON,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100935807,2022-11-21 00:00:00,2023-02-28 00:00:00,Billable,NaN

In [370]:
set(list(resource_df.region))
resource_df.columns

Index(['li_lr_id', 'region', 'first_name', 'middle_name', 'last_name',
       'nt_login_id', 'global_date_joining', 'local_date_joining', 'email_id',
       'sub_practice', 'organization', 'designation', 'base_location',
       'local_grade', 'people_manager_name', 'account_name', 'project_number',
       'project_start_date', 'project_rolloff_date', 'billability',
       'last_project_code'],
      dtype='object')

In [371]:
adrc_final=[]
for i in range(len(resource_df)):
    if resource_df.iloc[i].designation!='ZZ':
        adrc_final.append(adrc_dict[resource_df.iloc[i].region][di_1[resource_df.iloc[i].designation]])
    else:
        adrc_final.append(0)

In [372]:
set(list(resource_df.region))

{'IN',
 'MY',
 'NA_CA_Landed',
 'NA_CA_Local',
 'NA_US_LTT/STT',
 'PH',
 'SG',
 'TW',
 'UK_GB',
 'UK_GB_LTT/STT',
 'US'}

In [373]:
slt_owners=[]
slt_dict={'AU':'Deepak SathyaPrasad',
'IN':'Shailesh Rao',
'HK':'Shailesh Rao',
'SG':'Shailesh Rao',
'AE':'Shailesh Rao',
'MY':'Shailesh Rao',
'TW':'Shailesh Rao',
'SA':'Shailesh Rao',
'CH':'Unkown',
'PH':'Unkown',
 'NA_CA_Landed':'Jashmir Wadia',
 'NA_CA_Local':'Jashmir Wadia',
 'NA_US_LTT/STT':'Jashmir Wadia',
 'UK_GB':"Vikas Tiwari",
 'UK_GB_LTT/STT':'Vikas Tiwari',
 'US':'Jashmir Wadia'
 }
for i in range(len(resource_df)):
    slt_owners.append(slt_dict[resource_df.iloc[i].region])

In [374]:
resource_df['adrc']=adrc_final
resource_df['slt_owners']=slt_owners

C:\Users\chispand\AppData\Local\Temp\ipykernel_16492\2512448113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resource_df['adrc']=adrc_final
C:\Users\chispand\AppData\Local\Temp\ipykernel_16492\2512448113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resource_df['slt_owners']=slt_owners

In [375]:
resource_df

,li_lr_id,region,first_name,middle_name,last_name,nt_login_id,global_date_joining,local_date_joining,email_id,sub_practice,...,local_grade,people_manager_name,account_name,project_number,project_start_date,project_rolloff_date,billability,last_project_code,adrc,slt_owners
0,81754_FS,IN,Padma,NaN,Koukutla,PKOUKUTL,2011-11-14,2021-03-30,padma.koukutla@capgemini.com,GP-TRN-R&F,...,D1,Sudeesh Pillai,MUFG Union Bank NA,100744812,2022-12-19 00:00:00,2024-03-29 00:00:00,Billable,100868325,165,Shailesh Rao
1,82750_FS,IN,Ankita,NaN,Agrawal,ANKITAAG,2014-04-03,2017-01-01,ankita.agrawal@capgemini.com,GP-TRN-R&F,...,C1,Sampathkumar Gudihatti,National Australia Bank,100911023,2022-07-21 00:00:00,2023-09-30 00:00:00,Billable,100789819,92,Shailesh Rao
2,84107_FS,IN,Sampathkumar,NaN,Gudihatti,SGUDIHAT,2015-07-23,2017-01-01,sampath.gudihatti@capgemini.com,GP-TRN-R&F,...,D1,Shailesh Panduranga Rao,SECURITY BANK Corporation,100722067,2022-08-29 00:00:00,2024-07-26 00:00:00,Billable,100777143,165,Shailesh Rao
3,013799,IN,Javed,Alim,Khan,JAVEKHAN,2007-11-26,2020-01-27,javed.a.khan@capgemini.com,GP-TRN-R&F,...,C2,Ashutosh Agrawal,MOODYS ANALYTICS Pte Ltd,100684606,2022-01-03 00:00:00,2023-03-31 00:00:00,Billable,100684606,123,Shailesh Rao
4,169590,IN,Mandeep,Kaur,Nagpal,MANNAGPA,2004-01-02,2022-11-14,mandeep.nagpal@capgemini.com,GP-TRN-CMP,...,D2,Manisha Chachra,HSBC SOFTWARE DEVELOPMENT (INDIA) PRIVATE LTD.,100796118,2022-03-02 00:00:00,2023-12-31 00:00:00,I,INB610341,219,Shailesh Rao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,50552053,NA_CA_Local,Lingjie,NaN,Wang,LINGJWAN,2022-09-06,2022-09-06,lingjie.wang@capgemini.com,GP-TRN-R&F,...,C2,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100925911,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783158,385,Jashmir Wadia
172,50557110,NA_CA_Local,Richa,NaN,Raghav,RIRAGHAV,2022-09-12,2022-09-12,richa.raghav@capgemini.com,GP-TRN-R&F,...,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100927084,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783094,331,Jashmir Wadia
173,50558858,NA_CA_Local,Ankita,Vinod,Jain,AJAIN93,2022-09-26,2022-09-26,ankita.b.jain@capgemini.com,GP-TRN-R&F,...,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100925911,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783158,331,Jashmir Wadia
174,50567763,MY,Varun,NaN,Jois,VAJOIS,2019-12-30,2022-09-15,varun.jois@capgemini.com,GP-TRN-CMP,...,C1,MAHESH HARIDASAN,MAYBANK SHARED SERVICES SDN BHD,100892336,2022-05-17 00:00:00,2023-05-26 00:00:00,Billable,100780327,166,Shailesh Rao
175,50568257,NA_CA_Local,Prawin,NaN,Pradhan,PRAWPRAD,2022-11-21,2022-11-21,prawin.pradhan@capgemini.com,GP-TRN-R&F,...,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100935807,2022-11-21 00:00:00,2023-02-28 00:00:00,Billable,NaN,331,Jashmir Wadia

In [376]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///site.db', echo=False)
resource_df.to_sql('resource_master', con=engine,if_exists='append',index=False)

176

In [377]:
resource_df.columns

Index(['li_lr_id', 'region', 'first_name', 'middle_name', 'last_name',
       'nt_login_id', 'global_date_joining', 'local_date_joining', 'email_id',
       'sub_practice', 'organization', 'designation', 'base_location',
       'local_grade', 'people_manager_name', 'account_name', 'project_number',
       'project_start_date', 'project_rolloff_date', 'billability',
       'last_project_code', 'adrc', 'slt_owners'],
      dtype='object')

In [378]:
set(list(resource_df.region))

{'IN',
 'MY',
 'NA_CA_Landed',
 'NA_CA_Local',
 'NA_US_LTT/STT',
 'PH',
 'SG',
 'TW',
 'UK_GB',
 'UK_GB_LTT/STT',
 'US'}

In [379]:
tup=[('IN_IN','IN'), ('NA_US','US'), ('NA_US_LTT/STT','NA_US_LTT/STT'),
        ('NA_US_NEW_STT/I_gate_landed ','NA_US_NEW_STT/I_gate_landed '),
        ('NA_CA_Local','NA_CA_Local'), ('NA_CA_Landed','NA_CA_Landed'),
        ('UK_GB','UK_GB'), ('UK_GB_LTT/STT','UK_GB_LTT/STT'),
        ('UK_Nearshore','UK_Nearshore'), ('UK_ZA','UK_ZA'), ('APAC_HK','HK'),( 'APAC_SG','SG'),
        ('APAC_AE','AE'), ('APAC_MY','MY'),
        ('APAC_TW','TW'), ('APAC_SA','SA'),
        ('DC_CH','CH'), ('DC_PH','PH')]
li=[]
for i in tup:
    li.append(i[::-1])

In [380]:
li

[('IN', 'IN_IN'),
 ('US', 'NA_US'),
 ('NA_US_LTT/STT', 'NA_US_LTT/STT'),
 ('NA_US_NEW_STT/I_gate_landed ', 'NA_US_NEW_STT/I_gate_landed '),
 ('NA_CA_Local', 'NA_CA_Local'),
 ('NA_CA_Landed', 'NA_CA_Landed'),
 ('UK_GB', 'UK_GB'),
 ('UK_GB_LTT/STT', 'UK_GB_LTT/STT'),
 ('UK_Nearshore', 'UK_Nearshore'),
 ('UK_ZA', 'UK_ZA'),
 ('HK', 'APAC_HK'),
 ('SG', 'APAC_SG'),
 ('AE', 'APAC_AE'),
 ('MY', 'APAC_MY'),
 ('TW', 'APAC_TW'),
 ('SA', 'APAC_SA'),
 ('CH', 'DC_CH'),
 ('PH', 'DC_PH')]

In [381]:
base_loc=[x for x in set(list(resource_df['base_location']))]

In [382]:
base_loc

['Pune - SEZ - Hinjewadi - IV',
 'ATLANTA GA',
 'Pune - Hinjewadi',
 'SAN DIEGO CA',
 'Mumbai - SEZ - Airoli Knowledge Park II',
 'McKinley HillManila',
 'London City',
 'CHICAGO IL',
 'Mumbai - SEZ - Airoli - CKP - I',
 'Noida - SEZ - IV',
 'Bangalore - SEZ - Divyasree - Incubation II',
 'DALLAS TX',
 '11F No. 2 Section 5 Xin-Yi Road',
 'Bangalore - STPI - EPIP - Phase II',
 'Pune - Talwade Unit 2',
 'Toronto ON',
 'Hyderabad - SEZ - Phoenix Infocity - 5 flr to 6th',
 'Delhi - STPI Ã¢â‚¬â€œ Neelkanth Sant Nagar',
 'London',
 'NEW YORK NY',
 'Mumbai - SEZ - Airoli - Gigaplex I',
 nan,
 '81 Bay Street Toronto Ontario',
 'Bangalore - SEZ - 6B - G flr to 3 flr',
 'Hyderabad - STPI - Gachibowli IT Park',
 'GURGAON-SEZ- Blg-1st',
 '12 Marina Boulevard Financial Center Tower 3',
 'MISSISSAUGA-TECH ON',
 'Holborn',
 'SAN FRANCISCO CA',
 'Mumbai - SEZ - Airoli - Gigaplex II',
 'Jalan Tun RazakKuala Lumpur',
 'Bangalore - STPI - PSN',
 'COLUMBIA SC',
 'Bangalore - SEZ - Divyashree - Block 5']

In [383]:
local_grade=[(x,x) for x in sorted(set(list(resource_df.local_grade)))]

In [384]:
local_grade

[('A4', 'A4'),
 ('A5', 'A5'),
 ('B1', 'B1'),
 ('B2', 'B2'),
 ('C1', 'C1'),
 ('C2', 'C2'),
 ('D1', 'D1'),
 ('D2', 'D2'),
 ('E1', 'E1'),
 ('E2', 'E2'),
 ('U', 'U')]

In [385]:
for i in set(list(resource_df.sub_practice)):
    print((i,i))

('GP-TRN-CMP', 'GP-TRN-CMP')
('GP-TRN-R&F', 'GP-TRN-R&F')

In [386]:
li=[x[0] for x in [('IN', 'IN_IN'),
            ('US', 'NA_US'),
            ('NA_US_LTT/STT', 'NA_US_LTT/STT'),
            ('NA_US_NEW_STT/I_gate_landed ', 'NA_US_NEW_STT/I_gate_landed '),
            ('NA_CA_Local', 'NA_CA_Local'),
            ('NA_CA_Landed', 'NA_CA_Landed'),
            ('UK_GB', 'UK_GB'),
            ('UK_GB_LTT/STT', 'UK_GB_LTT/STT'),
            ('UK_Nearshore', 'UK_Nearshore'),
            ('UK_ZA', 'UK_ZA'),
            ('HK', 'APAC_HK'),
            ('SG', 'APAC_SG'),
            ('AE', 'APAC_AE'),
            ('MY', 'APAC_MY'),
            ('TW', 'APAC_TW'),
            ('SA', 'APAC_SA'),
            ('CH', 'DC_CH'),
            ('PH', 'DC_PH')]]
li

['IN',
 'US',
 'NA_US_LTT/STT',
 'NA_US_NEW_STT/I_gate_landed ',
 'NA_CA_Local',
 'NA_CA_Landed',
 'UK_GB',
 'UK_GB_LTT/STT',
 'UK_Nearshore',
 'UK_ZA',
 'HK',
 'SG',
 'AE',
 'MY',
 'TW',
 'SA',
 'CH',
 'PH']

In [387]:
adrc_dict.keys()

dict_keys(['IN', 'US', 'NA_US_LTT/STT', 'NA_US_NEW_STT/I_gate_landed ', 'NA_CA_Local', 'NA_CA_Landed', 'UK_GB', 'UK_GB_LTT/STT', 'UK_Nearshore', 'UK_ZA', 'HK', 'SG', 'AE', 'MY', 'TW', 'SA', 'CH', 'PH'])

In [388]:
slt_dict

{'AU': 'Deepak SathyaPrasad',
 'IN': 'Shailesh Rao',
 'HK': 'Shailesh Rao',
 'SG': 'Shailesh Rao',
 'AE': 'Shailesh Rao',
 'MY': 'Shailesh Rao',
 'TW': 'Shailesh Rao',
 'SA': 'Shailesh Rao',
 'CH': 'Unkown',
 'PH': 'Unkown',
 'NA_CA_Landed': 'Jashmir Wadia',
 'NA_CA_Local': 'Jashmir Wadia',
 'NA_US_LTT/STT': 'Jashmir Wadia',
 'UK_GB': 'Vikas Tiwari',
 'UK_GB_LTT/STT': 'Vikas Tiwari',
 'US': 'Jashmir Wadia'}

In [389]:
len(slt_dict)

16

In [390]:
resource_df

,li_lr_id,region,first_name,middle_name,last_name,nt_login_id,global_date_joining,local_date_joining,email_id,sub_practice,...,local_grade,people_manager_name,account_name,project_number,project_start_date,project_rolloff_date,billability,last_project_code,adrc,slt_owners
0,81754_FS,IN,Padma,NaN,Koukutla,PKOUKUTL,2011-11-14,2021-03-30,padma.koukutla@capgemini.com,GP-TRN-R&F,...,D1,Sudeesh Pillai,MUFG Union Bank NA,100744812,2022-12-19 00:00:00,2024-03-29 00:00:00,Billable,100868325,165,Shailesh Rao
1,82750_FS,IN,Ankita,NaN,Agrawal,ANKITAAG,2014-04-03,2017-01-01,ankita.agrawal@capgemini.com,GP-TRN-R&F,...,C1,Sampathkumar Gudihatti,National Australia Bank,100911023,2022-07-21 00:00:00,2023-09-30 00:00:00,Billable,100789819,92,Shailesh Rao
2,84107_FS,IN,Sampathkumar,NaN,Gudihatti,SGUDIHAT,2015-07-23,2017-01-01,sampath.gudihatti@capgemini.com,GP-TRN-R&F,...,D1,Shailesh Panduranga Rao,SECURITY BANK Corporation,100722067,2022-08-29 00:00:00,2024-07-26 00:00:00,Billable,100777143,165,Shailesh Rao
3,013799,IN,Javed,Alim,Khan,JAVEKHAN,2007-11-26,2020-01-27,javed.a.khan@capgemini.com,GP-TRN-R&F,...,C2,Ashutosh Agrawal,MOODYS ANALYTICS Pte Ltd,100684606,2022-01-03 00:00:00,2023-03-31 00:00:00,Billable,100684606,123,Shailesh Rao
4,169590,IN,Mandeep,Kaur,Nagpal,MANNAGPA,2004-01-02,2022-11-14,mandeep.nagpal@capgemini.com,GP-TRN-CMP,...,D2,Manisha Chachra,HSBC SOFTWARE DEVELOPMENT (INDIA) PRIVATE LTD.,100796118,2022-03-02 00:00:00,2023-12-31 00:00:00,I,INB610341,219,Shailesh Rao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,50552053,NA_CA_Local,Lingjie,NaN,Wang,LINGJWAN,2022-09-06,2022-09-06,lingjie.wang@capgemini.com,GP-TRN-R&F,...,C2,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100925911,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783158,385,Jashmir Wadia
172,50557110,NA_CA_Local,Richa,NaN,Raghav,RIRAGHAV,2022-09-12,2022-09-12,richa.raghav@capgemini.com,GP-TRN-R&F,...,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100927084,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783094,331,Jashmir Wadia
173,50558858,NA_CA_Local,Ankita,Vinod,Jain,AJAIN93,2022-09-26,2022-09-26,ankita.b.jain@capgemini.com,GP-TRN-R&F,...,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100925911,2022-11-01 00:00:00,2023-10-31 00:00:00,Billable,100783158,331,Jashmir Wadia
174,50567763,MY,Varun,NaN,Jois,VAJOIS,2019-12-30,2022-09-15,varun.jois@capgemini.com,GP-TRN-CMP,...,C1,MAHESH HARIDASAN,MAYBANK SHARED SERVICES SDN BHD,100892336,2022-05-17 00:00:00,2023-05-26 00:00:00,Billable,100780327,166,Shailesh Rao
175,50568257,NA_CA_Local,Prawin,NaN,Pradhan,PRAWPRAD,2022-11-21,2022-11-21,prawin.pradhan@capgemini.com,GP-TRN-R&F,...,C1,Jamshir Pervez Wadia,ROYAL BANK OF CANADA,100935807,2022-11-21 00:00:00,2023-02-28 00:00:00,Billable,NaN,331,Jashmir Wadia